body {
  text-align: center;
}

.App {
  font-family: sans-serif;
  display: flex;
  flex-wrap: wrap;
}

header {
  text-align: center;
  font-family: sans-serif;
  margin: 32px;
}

.item {
  background-color: white;
  box-shadow: 0 10px 40px -10px rgba(0, 64, 128, 0.2);
  transition: box-shadow 0.3s;
  border-radius: 8px;
  margin: 16px 16px 16px 16px;
  padding-top: 16px;
}
