body {
  margin: 0;
  background-color: #f5f5f5;
}

.App {
  font-family: sans-serif;
  display: flex;
  flex-wrap: wrap;
}

header {
  display: flex;
  flex-wrap: nowrap;
  padding: 12px;
  color: #333;
  background-color: white;
  vertical-align: middle;
}

h1 {
  font-size: 16px;
  display: inline-block;
  margin: 8px;
  letter-spacing: 1px;
}

.item {
  background-color: white;
  box-shadow: 0 10px 40px -10px rgba(0, 64, 128, 0.2);
  transition: box-shadow 0.3s;
  border-radius: 8px;
  margin: 16px 16px 16px 16px;
  padding: 16px;
}

.item__ChapterName {
  margin: -32px 0 8px 0;
  font-weight: 300;
  color: #666;
}

.item__swatch {
  width: 16px;
  height: 16px;
  background-color: #333;
}
